<%= link_to :back, class: 'back-btn' do %>
  <i class="fa-solid fa-arrow-left"></i> Back
<% end %>

<div class="outer-container">
    <div class="form-container">
        <h1>Edit Task</h1>

        <%= render "form", task: @task, btn_label: "Update Task" %>
    </div>
</div>
