/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$beige: #eae2b7;
$dark-blue: #003049;
$red: #d62828;
$orange: #f77f00;
$yellow: #fcbf49;

body {
    font-family: 'Lato', sans-serif !important;
    width: 100vw;
    height: 100vh;
}

@import './categories.scss';
@import './tasks.scss';
@import './login_signup.scss';
@import './navbar.scss';
