// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import './variables.scss';

.btn {
    background: $yellow;
    color: white;
    font-weight: 600;
    display: block;
    width: fit-content;
    margin: 2rem auto;

    a {
        color: white;
    }
}

.btn:hover {
    background: $yellow;
    box-shadow: 3px 3px 4px #f5b4004d;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    background: $gray;
    max-width: 100%;
    width: 300px;

    .card-body {
        padding: 0;
    }

    .card-title {
        color: white;
        padding: 1.5rem 1.5rem 0.5rem;
        font-size: 2rem;
    }

    .card-subtitle {
        font-size: 1rem;
        margin: 0.5rem 1.5rem 0;
        border-radius: 15px;
        padding: 0.3rem 0.7rem;
        width: fit-content;
    }

    .card-links {
        border-top: 2px solid $darker-gray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .card-link {
            margin: 0;
            flex: auto;
            text-align: center;
            padding: 0.5rem 0;
        }
    }
}

.overdue {
    color: red;
    background: rgba(255, 0, 0, 0.1);
    border: 2px solid red;
}

.pending {
    color: orange;
    background: rgba(255, 166, 0, 0.1);
    border: 2px solid orange;
}

.finished {
    color: green;
    background: rgba(0, 128, 0, 0.1);
    border: 2px solid green;
}
