@import './variables.scss';

.form-container {
    accent-color: none;
    background: $gray;
    border-radius: 10px;
    color: white;
    padding: 1.5rem;
    max-width: 450px;
    width: 100%;

    h1,
    h2,
    h3 {
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h2,
    h3 {
        text-align: center;
    }

    label {
        font-weight: 600;
    }

    textarea {
        resize: none;
        height: 5rem;
        background: $light-gray;
        border: none;
    }

    input,
    textarea,
    select {
        color: $white;
        padding: 0.3rem 0.5rem;
        background: $light-gray;
        border: none;
    }

    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
    }

    .btn {
        color: white;
        margin: 1rem auto 0;
    }

    em,
    i {
        color: $white;
        font-size: 0.9rem;
    }
}

.field-col,
.field-row {
    width: 100%;
    margin-bottom: 1rem;
    gap: 0.4rem;
}

.field-col {
    display: flex;
    flex-direction: column;
}

.field-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    label {
        width: fit-content;
    }

    input,
    select {
        flex: 1;
    }

    #task_completed {
        accent-color: $yellow;
        width: fit-content;
        flex: 0;
    }

    .date-select {
        width: fit-content;
    }
}

.error {
    font-style: italic;
    font-size: 1rem;
    color: $red;
    text-align: center;
}

.field_with_errors:nth-of-type(2) {
    flex: auto;

    input {
        width: 100%;
    }
}

.cancel-container {
    margin-top: 2rem;

    p {
        text-align: center;
    }
}

.back-btn {
    color: $light-red;
}

.back-btn:hover {
    color: rgb(255, 0, 0);
}
