@import './variables.scss';

.outer-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $darker-gray;
}

.login-signup-container {
    background: $dark-gray;
    border: 2px solid $gray;
    border-radius: 10px;
    box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.1);
    color: white;
    max-width: 30rem;
    width: 90%;
    padding: 2rem;

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
        font-style: italic;
        color: $yellow;
    }

    h2 {
        font-weight: 700;
    }

    .field,
    input {
        width: 100%;
    }

    input {
        background: $light-gray;
        border: none;
        border-radius: 5px;
        color: $white;
        padding: 0.5rem 1rem;
        margin-top: 0.5rem;
        accent-color: $yellow;
    }

    input:focus {
        outline: none;
    }

    #user_remember_me {
        width: fit-content;
    }

    h1,
    h2,
    .login-signup-link {
        text-align: center;
    }

    form {
        margin-bottom: 1rem;
    }

    .field {
        margin: 0.8rem 0;
    }
}

.links {
    display: flex;
    flex-direction: row;
    columns: 2;
    justify-content: space-between;
}

.login-signup-link {
    color: $yellow;
    text-decoration: none;
}

.login-signup-link:hover {
    color: $dark-yellow;
    text-decoration: underline;
}

.actions input {
    background: $yellow;
    color: white;
    font-weight: 600;
    border: none;
}

.actions input:hover {
    box-shadow: 3px 3px 4px #f5b4004d;
}

.cancel {
    background: $red;
}

.cancel:hover {
    color: white;
    background: $red;
    box-shadow: 3px 3px 4px #e34923a9;
}
