@import './variables.scss';

.navbar {
    background: $darker-gray;
    border-bottom: 2px solid $gray;
    padding: 0 5rem;
}

.navbar-brand {
    color: $yellow;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
}

.navbar-brand:hover {
    color: $yellow;
}

.navbar-brand span {
    margin-left: 0.2rem;
}

.nav-link {
    color: $white;
    font-size: 1.1rem;
    padding: 1.3rem 1rem;
    margin: 0 0.2rem;
}

.nav-link:hover {
    color: white;
    border-bottom: 1px solid $white;
}

.welcome-user {
    color: white !important;
    font-size: 1.2rem;
}

.logout {
    color: $light-red;
}

.logout:hover {
    color: rgb(255, 0, 0);
    border-bottom: none;
}

.navbar-nav {
    width: 100%;
}

.right {
    margin-left: auto;
}

.nav-link.active {
    color: $yellow !important;
    border-bottom: 1px solid $yellow;
}

@media screen and (max-width: 991px) {
    .navbar {
        padding: 0 1rem;
    }

    .nav-item {
        align-self: center;
        padding: 1rem 0;
    }

    .right {
        order: -1;
        margin-left: 0;
    }

    .nav-link {
        padding: 0;
    }

    .nav-link:hover {
        border-bottom: none;
    }

    .logout:hover {
        border-left: none;
    }

    .nav-link.active {
        border-bottom: 1px solid $yellow;
    }
}
