// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import './variables.scss';

.tasks-group-label {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.tasks-group {
    margin-bottom: 2rem;
}

.task-item {
    background: $gray;
    color: white;
    display: grid;
    grid-template-columns: 1.1fr 0.8fr 1.1fr;
    grid-template-areas: "label date actions";
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;

    .task-label {
        grid-area: label;
        accent-color: $yellow;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .task-title {
        font-size: 1.2rem;
        margin: 0;
    }

    .task-due-date {
        grid-area: date;
        justify-self: center;
        margin: 0;
    }

    .task-actions {
        grid-area: actions;
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin: 0;

        .task-action {
            margin: 0;
        }
    }
}

.task-show-container {
    background: $gray;
    border-radius: 10px;
    color: white;
    padding: 1rem;
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;

    .task-header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        h1 {
            margin: 0;
            font-size: 3rem;
            font-weight: 700;
        }

        .task-header-actions {
            font-size: 1.5rem;
        }

        .category {
            font-size: 2.5rem;
            font-weight: 500;
        }
    }

    .status {
        font-size: 1.3rem;
        border-radius: 15px;
        margin: 0;
        padding: 0.3rem 0.7rem;
        width: fit-content;
    }

    .status-due-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin: 0.2rem 0 1rem;
    }

    .notes {
        background: $light-gray;
        padding: 0.5rem 1rem;
    }
}

.task-completed {

    .task-title,
    .task-due-date {
        color: rgba(255, 255, 255, 0.597);
        text-decoration: line-through;
    }
}

.task-back {
    display: block;
    max-width: 50rem;
    width: 100%;
}
