// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import './variables.scss';

.tasks-group-label {
    border-bottom: 1px solid $white;
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    transition: 3ms ease-in-out;

    .num-tasks {
        color: $yellow;
        font-size: 1.5rem;
    }
}

.tasks-group {
    margin-bottom: 2rem;
}

// .tasks-group.hidden {
//     display: none;
// }

.task-item {
    background: $gray;
    color: white;
    display: grid;
    grid-template-columns: 1.1fr 0.8fr 1.1fr;
    grid-template-areas: "label date actions";
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;

    .task-label {
        grid-area: label;
        accent-color: $yellow;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .task-title {
        font-weight: 700;
        font-size: 1.2rem;
        margin: 0;
    }

    .task-category {
        font-style: italic;
        color: $dark-yellow;
    }

    .task-category:hover {
        color: $yellow;
    }

    .task-due-date {
        grid-area: date;
        justify-self: center;
        margin: 0;
    }

    .task-actions {
        grid-area: actions;
        justify-self: end;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 0;

        .task-action {
            margin: 0;
        }
    }

    .no-tasks {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0;
        grid-area: date;
        text-align: center;
    }
}

.task-show-container {
    background: $gray;
    border-radius: 10px;
    color: white;
    padding: 1rem;
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;

    .task-header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        .task-header-main {
            display: flex;
            flex-wrap: nowrap;
            gap: 1rem;
        }

        h1 {
            margin: 0;
            font-size: 3rem;
            font-weight: 700;
        }

        .task-header-actions {
            font-size: 1.5rem;
            margin-left: 1rem;
        }

        .task-check {
            accent-color: $yellow;
            margin-left: 0.5rem;
            transform: scale(2);
        }
    }

    .status {
        font-size: 1.3rem;
        border-radius: 15px;
        margin: 0;
        padding: 0.3rem 0.7rem;
        width: fit-content;
    }

    .status-due-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin: 0.2rem 0 1rem;
    }

    .notes {
        background: $light-gray;
        padding: 0.5rem 1rem;
    }
}

.task-subheader {
    margin-bottom: 1rem;

    .category {
        color: $white;
        font-size: 2rem;
        font-weight: 500;
        font-style: italic;
    }
}

.task-completed {

    .task-title,
    .task-due-date {
        color: rgba(255, 255, 255, 0.597);
        text-decoration: line-through;
    }
}

.task-back {
    display: block;
    max-width: 60rem;
    width: 100%;
}

// .dropdown-btn {
//     color: $white;
//     font-size: 1.2rem;
// }

// .dropdown-btn:hover {
//     color: white;
//     cursor: pointer;
// }

// .dropdown-btn.hidden {
//     rotate: (180deg);
// }

@media screen and (max-width: 1321px) {
    .task-item {
        grid-template-columns: 2.4fr 0.6fr;
        grid-template-areas: "label actions";

        .task-due-date {
            display: none;
        }

        .no-tasks {
            grid-area: label;
            text-align: left;
        }
    }
}

@media screen and (max-width: 703px) {
    .task-show-container {
        .task-header {
            h1 {
                font-size: 2rem;
            }

            .task-header-actions {
                font-size: 1.2rem;
            }
        }
    }

    .task-subheader {
        .category {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 589px) {
    .task-category {
        display: none;
    }
}
