$light-gray: #2d3338;
$gray: #1d1f20;
$dark-gray: #17181c;
$darker-gray: #101213;
$black: #000000;
$light-red: #ff505c;
$red: #e34a23;
$transparent-red: #e349236d;
$yellow: #ffba03;
$dark-yellow: #f5b200;
$white: rgba(255, 255, 255, 0.8);
