<div class='back-btn back-form'>
    <%= link_to 'javascript:history.back()' do %>
    <i class="fa-solid fa-arrow-left"></i> Back
    <% end %>
</div>

<div class="outer-container">
    <div class="form-container">
        <h1>Edit Category</h1>

        <%= render "form", category: @category, btn_label: "Update Category" %>
    </div>
</div>
